<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <title>Github Explorer</title>
   
  </head>
  <body class="d-flex flex-column h-100">    
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Github Explorer <small>Search for a repo by language or topic</small></h1>
            <hr>
            
            <form id="loginForm">
                <div class="form-row">
                  <div class="col">
                    <input type="text" 
                           class="form-control" 
                           id="email" 
                           name="email" 
                           placeholder="Enter your email" 
                           autocomplete="off" required>
                    <small class="form-text text-muted">* required</small>
                  </div>
                  <div class="col">
                    <input type="password" 
                           class="form-control" 
                           id="password" 
                           name="password" 
                           placeholder="Enter your password" 
                           autocomplete="off" required>
                    <small class="form-text text-muted">* required</small>
                  </div>
                  <div class="col">
                      <button id="searchBtn" class="btn btn-primary btn-block">Login</button>
                  </div>
                </div>
            </form>
            <hr>

        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container pb-5">
            <hr>
            <span class="text-muted">
                    Copyright &copy; 2019 | <a href="https://pisyek.com">Pisyek.com</a>
            </span>
        </div>
    </footer>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.runtime.min.js"></script>
    <script src="js/template.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
